#header {
 border-radius: 2px;

  text-align: right;
  padding-right: 20px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: auto auto;
  max-height: auto;
  box-shadow: 4px 2px 4px black;
  text-shadow: .1px .5px 1px black;
}
#main {
 overflow-x:hidden;
 background:linear-gradient(150deg, grey, black, black, grey);

}
#title {
  color:white;
  margin-bottom:-20px;
}
#container1 {
  height: auto;
  width: 100%;
  display:grid;
  justify-items:center;
}
#img-div {
  width:90%;
  height:auto;
  display:grid;
  grid-template-columns: auto;
  justify-items:center;
}
#image {
  display:block;
  width:100%;
  max-width:1000px;
  height:auto;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px white;
}
#img-caption {
  display:block;
  max-width:1000px;
  height:auto;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px white;
  margin-top:-25px;
  text-align:center;
}
#container2 {
  height: auto;

  width: 100%;
  display:grid;
  grid-template-columns: minmax(100px , auto);

}
.article {
  position:relative;
  color:white;
  left:30px;
  text-shadow: 5px 3px 5px black;
  padding:30px;
  text-align:center;
}
p,ul {
  padding-left:75px;
  padding-right:75px;
  text-align:justify;
  color:white;
}
#container3 {
  height: auto;
  width: 100%;
  display:grid;
  grid-template-columns: minmax(100px , auto);
  text-align:center;
}

li {
  padding:5px

}
h1,h2 {
  text-shadow: 2px 3px 4px black;
}
#footer{
  text-align:center;
  width:100%;
  background-color:black;
}
body {
postiion:fixed;
width:100%;
height: 100%;
}
